# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# System files
.DS_Store
Thumbs.db

# VS Code
.vscode/
